body{
    background-color: #1c1c1c;
}

#card{
    width:36.75rem ;
    height:34.38rem ;
    background-color: #1F2937;
    margin: auto;
    margin-top: 70px;
    border-radius: 0.25rem;
}
.heading{
    color: white;
    font-family:Karla, sans-serif;
    padding-left: 52px;
    padding-top: 115px;
    letter-spacing: -0.19px;
    line-height: 2.50px;
}
.subHeading{
    color: #4ADF86;
    font-family:Karla ,Helvetica, sans-serif;
    padding-left: 52px;
    line-height: 2.50px;
   
}
p{
    color: #D5D4D8;
    font-family:Inter, sans-serif;
    padding-left: 52px;
    
}
button{
    background-color: #10B981;
    border: none;
    color: white;
    margin-left: 3.25rem;
    margin-top: 2.25rem;
    padding: 0.60rem 0.50rem ;
    border-radius: 0.3rem;
    width: 9.94rem;
    
}
#generate{
    font-family:Inter, sans-serif;
    height: 2rem;
}
hr{
    border: 1px solid #2F3E53;
    margin: 2.188rem 3.25rem 2.188rem 3.25rem;

}
#optnBoxes{
    display: flex;
}
#passwordOne{
    background-color: #273549;
    width: 13.19rem;
    height: 2.44rem;
    margin-top: 1.18rem;
    margin-left: 3.25rem;
    color:#55F991;
    line-height: 1.9rem;
    overflow: hidden;
    display: flex;
    justify-content:center;
    border-radius: 0.2rem;
    align-items: center;

}
#passwordTwo{
    background-color: #273549;
    width: 13.19rem;
    height: 2.44rem;
    margin-top: 1.18rem;
    margin-left: 3.25rem;
    color:#55F991;
    line-height: 1.9rem;
    overflow: hidden;
    display: flex;
    justify-content:center;
    border-radius: 0.2rem;
    align-items: center;
}



